# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.pdb
*.idb
*.tlog
*.ipch
*.log
*.tlog
*.idb
*.pdb
*.db
TD4_Projet/Debug/vc141.pdb
TD4_Projet/Debug/vc141.idb
TD4_Projet/Debug/TD4_Projet.tlog/CL.write.1.tlog
TD4_Projet/Debug/TD4_Projet.log
TD4_Projet/.vs/TD4_Projet/v15/ipch/AutoPCH/e1ef8996446b406e/GROUPE.ipch
TD4_Projet/.vs/TD4_Projet/v15/ipch/AutoPCH/b9d3d579fb6a83b7/MAIN.ipch
TD4_Projet/.vs/TD4_Projet/v15/Browse.VC.opendb
TD4_Projet/.vs/TD4_Projet/v15/Browse.VC.db
TD4_Projet/.vs/TD4_Projet/v15/.suo
*.log
*.db
*.tlog
*.pdb
*.idb
*.ipch
TD4_Projet/Debug/vc141.pdb
TD4_Projet/Debug/vc141.idb
TD4_Projet/Debug/TD4_Projet.tlog/unsuccessfulbuild
TD4_Projet/Debug/TD4_Projet.tlog/CL.write.1.tlog
TD4_Projet/Debug/TD4_Projet.tlog/CL.read.1.tlog
TD4_Projet/Debug/TD4_Projet.tlog/CL.command.1.tlog
TD4_Projet/Debug/TD4_Projet.log
TD4_Projet/Debug/TD4_Projet.ilk
TD4_Projet/.vs/TD4_Projet/v15/ipch/AutoPCH/b9d3d579fb6a83b7/MAIN.ipch
TD4_Projet/.vs/TD4_Projet/v15/Browse.VC.db
TD4_Projet/.vs/TD4_Projet/v15/.suo
*.db
TD4_Projet/.vs/TD4_Projet/v15/.suo
